<p>
  property-detail works!
  selected property id: {{ propertyId }}

  <br><br>
  <button class="btn btn-primary" (click)="onSelectNext()">Select Next Page</button>

  <br><br>
  <button class="btn btn-primary" routerLink="/property-detail/1">1</button>

  <br><br>
  <button class="btn btn-primary" routerLink="/property-detail/2">2</button>

  <br><br>
  <button class="btn btn-primary" routerLink="/property-detail/3">3</button>

  <br><br>
  <button class="btn btn-primary" [routerLink]="['/property-detail', '4']">4</button>
</p>
